__pycache__/
*.py[cod]
*$py.class
rag-app/
venv/
.env
pyvenv.cfg
demo-rag-app/
Demo/
chroma.sqlite3
*.sqlite3
.streamlit/secrets.toml
.streamlit/.cache/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
